.container
  .header
    .header_changePage
      = link_to root_path do
        = image_tag "back.png"
    .header_title
      %h2= current_user.account
    .header_action

  .profile
    .profile_image
      = form_with model: current_user, url: avatar_path, method: :put, local: true do |f|
        = f.label :avatar do
          = f.file_field :avatar, style: "display:none;", onchange: "this.form.submit()"
          - if current_user.avatar&.attached?
            = image_tag current_user.avatar
          - else
            = image_tag 'default-avatar.png'
    %ul.profile_info
      %li
        .profile_info_count
          %p= 44
        .profile_info_item
          %p Posts
      %li
        .profile_info_count
          %p= 110
        .profile_info_item
          %p Followers
      %li
        .profile_info_count
          %p= 55
        .profile_info_item
          %p Followings
  .card
    .card_pictures
      .card_pictures_large
        = image_tag 'Rectangle.png'
      .card_pictures_small
        .card_pictures_small_above
          = image_tag 'Rectangle.png'
        .card_pictures_small_below
          = image_tag 'Rectangle.png'