.container
  .header
    .header_changePage
      = link_to album_path(@album) do
        = image_tag "back.png"
    .header_title
      %h2 Comment

  .card{id: "album_#{@album.id}", data: { album_id: @album.id }}
    = link_to profile_path do
      .card_top
        .card_top_image
          = link_to profile_path do
            = image_tag 'アイコン.jpg'
        .card_top_detail
          .card_top_detail_name
            %p= @album.user.account
          .card_top_detail_time
            %p #{time_ago_in_words @album.created_at} ago
    .card_pictures
      - if @album.pictures.attached?
        - @album.pictures.each do |picture|
          .card_pictures_picture
            = image_tag picture

  .comment
    %h3 Comment
    - @comments.each do |comment|
      .card
        .card_top
          .card_top_image
            = image_tag 'アイコン.jpg'
          .card_top_detail
            .card_top_detail_name
              %p= comment.user.account
            .card_top_detail_info
              %p= comment.content

    = link_to new_album_comment_path do
      .btn-comment
        = image_tag 'comment.png'