.container
  .header
    .header_changePage
      = link_to root_path do
        = image_tag "back.png"
    .header_title
      %h2 Comment

  .container
    %ul
      - @comment.errors.full_messages.each do |message|
        %li= message
    = form_with model: @comment, url: album_comments_path(@comment.album_id), local: true do |f|
      = f.text_area :content
      = f.submit 'Submit', class: 'btn-primary'