.container
  .header
    .header_changePage
      = link_to new_album_path do
        = image_tag 'camera.png'
    .header_title
      %p All Albums
    .header_action
      = link_to 'Timeline', timeline_path

  - @albums.each do |album|
    .card{data: { album_id: album.id, author_id: album.user_id, current_user_id: current_user.id }}
      = link_to account_path(album.user) do
        .card_top
          .card_top_image
            - if album.user&.avatar&.attached?
              = image_tag url_for(album.user.avatar)
            - else
              = image_tag 'default-avatar.png'
          .card_top_detail
            .card_top_detail_name
              %p= album.user.account
            .card_top_detail_time
              %p #{time_ago_in_words album.created_at} ago
      .card_pictures
        - if album.pictures.attached?
          - album.pictures.each do |picture|
            .card_pictures_picture
              = image_tag picture
      .card_icon
        .album_heart.hidden{id: "active-heart-icon-#{album.id}"}
          = image_tag 'heart-active.png'
        .album_heart.hidden{id: "inactive-heart-icon-#{album.id}"}
          = image_tag 'heart.png'
        = link_to album_path(album) do
          = image_tag 'comment.png'
        = link_to "https://x.com/intent/post?text=#{album.title}&url=#{album_url(album)}&hashtags=デイトラ,DAY19", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア", target: "_blank" do
          = image_tag 'link.png'
      .card_detail
        %p= "#{album.likes.count} liked your post"
        .card_detail_title
          .card_detail_title_author
            %p= album.user.account
          %p= album.title