.container
  .header
    .header_changePage
      = link_to albums_path do
        %p Cancel
    .header_title
      %p Status
    .header_action

  .picture
    .picture_author
      .picture_author_avatar
        = image_tag 'アイコン.jpg'
      .picture_author_name
        %p= @album.user.account
    .picture_post
      = form_with model: @album, local: true do |f|
        = f.text_field :title, class: 'text', placeholder: "Title"
        = f.label :pictures do
          = f.file_field :pictures, multiple: true, style: "display:none;"
          .btn-secondary
            + Album
        %p 0 selected
        = f.submit "Post", class: "btn-primary"
    %ul#error_explanation
      - @album.errors.full_messages.each do |message|
        %li= message