.container
  .header
    .header_changePage
      = link_to albums_path do
        %p Cancel
    .header_title
      %p New Album

  .picture
    .picture_author
      .picture_author_avatar
        - if current_user&.avatar&.attached?
          = image_tag url_for(current_user.avatar)
        - else
          = image_tag 'default-avatar.png'
      .picture_author_name
        %p= current_user.account
    .picture_post
      = form_with model: @album, local: true do |f|
        = f.text_field :title, class: 'text', placeholder: "Title"
        = f.label :pictures do
          = f.file_field :pictures, multiple: true, style: "display:none;"
          .btn-secondary
            + Pictures
        %p 0 selected
        = f.submit "Post Album", class: "btn-primary"
    %ul#error_explanation
      - @album.errors.full_messages.each do |message|
        %li= message